<!DOCTYPE html>
<html>
<head>
  <title>Site under construction</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "/stylesheets/jquery-ui" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/jquery-1.7.2.min", "jquery-ui" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
